*, *:before, *:after {
    /* Chrome 9-, Safari 5-, iOS 4.2-, Android 3-, Blackberry 7- */
    -webkit-box-sizing: border-box;

    /* Firefox (desktop or Android) 28- */
    -moz-box-sizing: border-box;

    /* Firefox 29+, IE 8+, Chrome 10+, Safari 5.1+, Opera 9.5+, iOS 5+, Opera Mini Anything, Blackberry 10+, Android 4+ */
    box-sizing: border-box;
}

body {
    display: flex;
    flex-flow: column nowrap;
}

form, article {
    margin: 0 auto;
    border: solid 0.2rem black;
    border-radius: 0.4rem;
    width: 20rem;
    padding: 1rem;
}

form div + div {
    margin-top: 1rem;
}

label {
    display: inline-block;
    min-width: 4rem;
    text-align: end;
}

input, textarea {
    font: 14px Sans-serif;
    width: 10rem;
    margin-left: 0.5rem;
    border: 0.06rem solid black;
    border-radius: 0.1rem;
}

input:focus textarea:focus {
    border-color: dodgerblue;
}

input[type="radio"] {
    width: auto;
    margin-left: 0;
}

input[type="radio"] ~ label {
    display: inline-block;
    width: auto;
    text-align: left;
}

textarea {
    vertical-align: top;
    height: 4rem;
}

button {
    margin-left: 5rem;
}


